html{
    height: 100%;
    margin: 0;
}


/* ----- CV -----*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 34, 227, 0.7);
    z-index: 2000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 50%; /* Ajuster la largeur de la fenêtre modale ici */
    max-height: 95vh; /* Limite la hauteur maximale de la fenêtre modale à 80% de la hauteur de la fenêtre */
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    text-align: center; /* Centre le contenu horizontalement */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 13em;
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

#pdfViewer {
    width: 100%;
    height: 100%;
    border: 0; /* Supprime la bordure du PDF */
}

#openBtn {
    cursor: pointer;
}



/* ----- Body ----- */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Empêche la barre de défilement horizontale */
}


  .overlay-haut {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; /* couleur de fond avec une opacité de 50% */
    color: white;
    padding: 0;
    align-items: center; /* Aligner les éléments verticalement au centre */
    z-index: 20;
  }





/* ----- Partie 1 Arrière plan ----- */

    .hauteur-contenu {
        /* Ajoutez du padding en haut pour éviter que le contenu soit caché derrière l'overlay */
        padding-top: 0; /* Ajustez selon vos besoins */
    }

    .gradient-background {
        background: linear-gradient(to bottom, #1624a3, #c494f8);
    }






/* ----- Partie 2 Présentation ----- */

.presentation {
    width: 100%;
    display: flex;
    }

.button-projet {
    margin-left: 50px;
}

.button-projet img {
    width: 400px;
    margin: 10px;
    
}

.button-projet a {
    width: 400px;
    margin: 10px;
}


.carousel-3d {
    margin-top: 40px;
    height: 300px;
    width: 450px;
}



    @media (max-width: 1175px) {
        .presentation{
            width: 100%;
            display: contents;
        }
        .carousel-3d {
            margin-top: 0;
            width: 100%;
        }
        .button-projet {
            margin-left: 0;
        }
        .button-projet img {
            width: 90%;
            margin: 10px;
        }
    }

    h2{
        width: 60%;
        margin-top: 20px;
        text-align: left;
        margin-left: 3em;
        padding: 20px 0;
        color: #ffffff;
        font-size : 1,5em;
    }



    /* ----- Image flip ----- */

    .flip-container {
        perspective: 1000px;
        width: 300px; /* Ajustez la taille selon vos besoins */
        height: 300px;
        
      }
      
      .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
      }
      
      .flip-container:hover .flipper,
      .flip-container.hover .flipper {
        transform: rotateY(180deg);
      }
      
      .front,
      .back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
      }
      
      .front {
        z-index: 2;
      }

      .front img {
        border-radius: 30px;

      }
      
      .back {
        transform: rotateY(180deg);
      }
      
      .black-background {
        width: 350px;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 30px;
      }
      
      .black-background button {
        padding: 10px;
        background-color: #ffffff; /* Couleur du bouton */
        color: #000000; /* Couleur du texte du bouton */
        border: none;
        cursor: pointer;
      }



    /* ----- Button custom ----- */


      .cta {
        display: flex;
        padding: 11px 33px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        color: white;
        background: #6225E6;
        transition: 1s;
        box-shadow: 6px 6px 0 black;
        transform: skewX(-15deg);
        border: none;
      }
      
      .cta:focus {
        outline: none;
      }
      
      .cta:hover {
        transition: 0.5s;
        box-shadow: 10px 10px 0 #5a0af9;
      }
      
      .cta .second {
        transition: 0.5s;
        margin-right: 0px;
      }
      
      .cta:hover  .second {
        transition: 0.5s;
        margin-right: 45px;
      }
      
      .span {
        transform: skewX(15deg)
      }
      
      .second {
        width: 20px;
        margin-left: 30px;
        position: relative;
        top: 12%;
      }
      
      .one {
        transition: 0.4s;
        transform: translateX(-60%);
      }
      
      .two {
        transition: 0.5s;
        transform: translateX(-30%);
      }
      
      .cta:hover .three {
        animation: color_anim 1s infinite 0.2s;
      }
      
      .cta:hover .one {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.6s;
      }
      
      .cta:hover .two {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.4s;
      }
      
      @keyframes color_anim {
        0% {
          fill: white;
        }
      
        50% {
          fill: #5a0af9;
        }
      
        100% {
          fill: white;
        }
      }

    /* ----- Partie 3 competences ----- */

        /* Styles CSS directement dans le fichier HTML */
        .rectangle {
            position: relative; /* Ajoutez une position relative pour positionner les divs enfants */
            width: auto; /* Définissez la largeur du rectangle */
            min-height: 23em; /* Définissez la hauteur du rectangle */
            background-color: #6524ce; /* Définissez la couleur de fond du rectangle */
            text-align: center; /* Centrez le texte à l'intérieur du rectangle */
            color: #fff; /* Définissez la couleur du texte */
            line-height: 50px; /* Ajustez la hauteur de ligne pour centrer le texte verticalement */
            margin: 0 auto ; /* Centrez horizontalement avec un écart de 30px du haut */
            border-radius: 20px; /* Ajoutez des coins arrondis avec un rayon de 20 pixels */
            margin-right: 10%;
            margin-left: 10%;
            margin-bottom: 1em;
            margin-top: 80px;
        }

        /* Styles pour les boutons à l'intérieur du rectangle */
        .type button {
            padding: 12px 30px;
            margin-top: 30px; /* Ajustez la marge pour positionner les boutons près de la bordure du rectangle en haut */
            font-size: 25px;
            background-color: #fff;
            color: #000000;
            border-radius: 30px;
            cursor: pointer;
            position: relative; /* Ajoutez une position relative pour positionner les divs enfants */
            z-index: 10;
        }

        .code {
            margin-right: 30px; /* Ajoutez un écart de 50 pixels à gauche du bouton Code */
        }
        
        /* Ajoutez une classe spécifique pour le bouton Logiciel */
        .logiciel {
            margin-left: 30px; /* Ajoutez un écart de 50 pixels à droite du bouton Logiciel */
        }

        /* Styles pour les divs de contenu */
        .content {
            display: none; /* Cachez initialement tous les contenus */
            top: 50%; /* Placez le haut du contenu au centre du bouton */
            left: 0;
            right: 0;
            text-align: center; /* Alignez le texte au centre */
            padding: 20px; /* Ajoutez un peu de rembourrage pour plus de lisibilité */
        }


        /* Affichez le contenu spécifique lorsque le div a la classe active */
        .content.active {
            display: block;
        }

        .contenu-code button,
        .contenu-competences button,
        .contenu-logiciel button {
            padding: 12px 30px;
            margin-top: 20px; /* Ajustez la marge pour positionner les boutons près de la bordure du rectangle en haut */
            font-size: 25px;
            color: #000000;
            border: none;
            border-radius: 35% 65% 47% 53% / 50% 58% 42% 50% ;
            position: relative; /* Ajoutez une position relative pour positionner les divs enfants */
        }


        .contenu-code button { background-color: #ce6d24; }
        .contenu-competences button { background-color: #57e9df; }
        .contenu-logiciel button { background-color: #24ce65; }

        /* Ajoutez un style pour le bouton actif */
        .type button.active {
            background-color: #0a46c884; /* Changez la couleur de fond du bouton actif */
        }



@media (max-width: 720px) {

    .rectangle {
        margin-top: 0;
    }
    .logiciel {
        margin-left: 0;
    }
    .code {
        margin-right: 0;
    }
}




    /* ----- Footer ----- */

footer {
    background-color: #333;
}

