html{
    height: 100%;
    margin: 0;
}


/* ----- CV -----*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 34, 227, 0.7);
    z-index: 2000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 50%; /* Ajuster la largeur de la fenêtre modale ici */
    max-height: 95vh; /* Limite la hauteur maximale de la fenêtre modale à 80% de la hauteur de la fenêtre */
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    text-align: center; /* Centre le contenu horizontalement */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 13em;
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

#pdfViewer {
    width: 100%;
    height: 100%;
    border: 0; /* Supprime la bordure du PDF */
}

#openBtn {
    cursor: pointer;
}



/* ----- Body ----- */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Empêche la barre de défilement horizontale */
}


  .overlay-haut {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; /* couleur de fond avec une opacité de 50% */
    color: white;
    padding: 0;
    align-items: center; /* Aligner les éléments verticalement au centre */
    z-index: 20;
  }





/* ----- Partie 1 Arrière plan ----- */

    .hauteur-contenu {
        /* Ajoutez du padding en haut pour éviter que le contenu soit caché derrière l'overlay */
        padding-top: 0; /* Ajustez selon vos besoins */
    }

    .gradient-background {
        height: 100%;
        background: linear-gradient(to bottom, #1624a3, #c494f8);
    }






/* ----- Partie 2 Présentation ----- */


.content-pres {
  position: sticky;
}


.presentation {
    width: 90%;
    display: flex;
    margin-left: 3em;
    }

.button-projet {
    margin-left: 250px;
}

.button-projet img {
    width: 400px;
    margin: 10px;
    
}

.button-projet a {
    width: 400px;
    margin: 10px;
}


.carousel-3d {
    margin-top: 40px;
    height: 220px;
    width: 450px;
}



    @media (max-width: 800px) {
        .presentation{
            width: 80%;
            display: contents;
        }
        .carousel-3d {
            margin-top: 0;
            width: 100%;
        }
        .button-projet {
            margin-left: 0;
        }
        .button-projet img {
            width: 90%;
            margin: 10px;
    }
    h2 {
      margin-left: 1.5em;
      width: 80%;
    }
  }

    h2{
        margin-top: 20px;
        text-align: left;
        padding-top: 20px;
        color: #ffffff;
        font-size : 1,5em;
    }



    /* ----- Image flip ----- */

    .flip-container {
      position: relative;
        perspective: 1000px;
        width: 300px; /* Ajustez la taille selon vos besoins */
        height: 300px;
        
      }
      
      .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
      }
      
      .flip-container:hover .flipper,
      .flip-container.hover .flipper {
        transform: rotateY(180deg);
      }
      
      .front,
      .back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
      }
      
      .front {
        z-index: 2;
      }

      .front img {
        border-radius: 30px;

      }
      
      .back {
        transform: rotateY(180deg);
      }
      
      .black-background {
        width: 350px;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 30px;
      }
      
      .black-background button {
        padding: 10px;
        background-color: #ffffff; /* Couleur du bouton */
        color: #000000; /* Couleur du texte du bouton */
        border: none;
        cursor: pointer;
      }

    /* ----- Button Page Suivante ----- */


      .suivante-background {
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 30px;
        padding-bottom: 20px;
      }

      .suivante-background button {
        padding: 10px;
        background-color: #ffffff; /* Couleur du bouton */
        color: #000000; /* Couleur du texte du bouton */
        border: none;
        cursor: pointer;
      }

    /* ----- Button custom ----- */


      .cta {
        display: flex;
        padding: 11px 33px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        color: white;
        background: #6225E6;
        transition: 1s;
        box-shadow: 6px 6px 0 black;
        transform: skewX(-15deg);
        border: none;
      }
      
      .cta:focus {
        outline: none;
      }
      
      .cta:hover {
        transition: 0.5s;
        box-shadow: 10px 10px 0 #5a0af9;
      }
      
      .cta .second {
        transition: 0.5s;
        margin-right: 0px;
      }
      
      .cta:hover  .second {
        transition: 0.5s;
        margin-right: 45px;
      }
      
      .span {
        transform: skewX(15deg)
      }
      
      .second {
        width: 20px;
        margin-left: 30px;
        position: relative;
        top: 12%;
      }
      
      .one {
        transition: 0.4s;
        transform: translateX(-60%);
      }
      
      .two {
        transition: 0.5s;
        transform: translateX(-30%);
      }
      
      .cta:hover .three {
        animation: color_anim 1s infinite 0.2s;
      }
      
      .cta:hover .one {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.6s;
      }
      
      .cta:hover .two {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.4s;
      }
      
      @keyframes color_anim {
        0% {
          fill: white;
        }
      
        50% {
          fill: #5a0af9;
        }
      
        100% {
          fill: white;
        }
      }





    /* ----- Footer ----- */

footer {
  position: relative;
    background-color: #333;
}

