

html{
    height: 100%;
    margin: 0;
}


/* ----- def -----*/

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour l'effet de modal */
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  width: 80%;
  background-color: #ffffff;
  position: relative;
  padding: 20px;
  border-radius: 20px ;
  color: rgb(0, 0, 0);
  margin: 5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: red;
}



/* ----- Body ----- */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche la barre de défilement horizontale */
    justify-content: center;
    align-items: center;
}




/* ----- Partie 1 Arrière plan ----- */

    .hauteur-contenu {
        /* Ajoutez du padding en haut pour éviter que le contenu soit caché derrière l'overlay */
        padding-top: 0; /* Ajustez selon vos besoins */
        align-items: center;
        justify-content: center;
    }


.content-pres {
  position: sticky;
  justify-items: center;
}



    .haut {
      display: flex;
      text-align: left;
      padding-bottom: 10px;
      border-radius: 10px;
      color: rgb(0, 0, 0);
      margin-top: 60px;
    }


    .haut p {
      font-size: 1em;
      font-weight: bold;

    }


.bonjour {
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.2em;
  background-color: rgb(255 255 255 / 58%);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}


  .PP {
    width: 180px;
    vertical-align: middle; /* Pour centrer verticalement l'image dans le conteneur */
    border-radius: 50%;
  }


.qualité {
  justify-items: center;
  text-align: center;
}




    .haut h2{
        margin-top: 20px;
        text-align: left;
        padding-top: 20px;
        color: #ffffff;
        font-size : 1em;
    }

.titre-haut {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}

/* ----- Partie 2 Présentation ----- */




.presentation {
  margin-left: 20%;
  margin-right: 20%;
  }

.presentation-1, .presentation-2 {
  display: flex;
}

.contour-g {
  font-size: 0.8em;
  background-color: rgb(255 255 255 / 58%);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.carousel {
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.contour-d {
  font-size: 0.8em;
  background-color: rgb(255 255 255 / 58%);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  right: 0;
}


  #contenuModal {
    font-size: 1.2em;
  }

.button-projet {
    margin-left: 0;
}

.button-projet img {
    width: 400px;    
}

.button-projet a {
    width: 400px;
    margin: 10px;
}


.carousel-3d {
    margin-top: 40px;
    height: 220px;
    width: 450px;
}



    /* ----- Image flip ----- */

    .flip-container {
        position: relative;
        perspective: 1000px;
        width: 400px;
        height: 355px;
        margin-bottom: 1em;
      }

      @media (max-width: 485px) {
        .flip-container {
          width: 100%;
          margin-bottom: 0;
        }
      }
      
      .flipper {
        transition: 0.4s;
        transform-style: preserve-3d;
        position: relative;
      }
      
      .flip-container:hover .flipper,
      .flip-container.hover .flipper {
        transform: rotateY(180deg);
      }
      
      .front,
      .back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
      }
      
      .front {
        z-index: 2;
      }

      .front img {
        border-radius: 30px;
        width: 100%;
      }
      
      .back-image {
        transform: rotateY(180deg);
      }
      
      .black-background {
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 30px;
      }
      
      .black-background button {
        padding: 10px;
        background-color: #ffffff; /* Couleur du bouton */
        color: #000000; /* Couleur du texte du bouton */
        border: none;
        cursor: pointer;
      }

    /* ----- Domaines ----- */


    .domaines {
      width: 50%;
      text-align: center;
      font-size: 25px;
      background-color: rgb(255 255 255 / 58%);
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 20px;
      transform: translatex(50%);
    }


    .domaines button:hover {
      background-color: #57b3ff;
      transition: 0.2s;
    }

    .domaines p {
          font-weight: bold
    }

    @media (max-width: 800px) {
      .domaines {
        width: 100%;
        padding: 10px;
        transform: translatex(0);
      }
    }


    .domaines button {
      font-size: 0.8em;
      background-color: #f6fafc;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 1em;
      color: rgb(0, 0, 0);
      padding: 8px;
    }
    

    /* ----- Button Page Suivante ----- */


    .suivante-background {
      display: flex;
      align-items: center;
      text-align: center;
      border-radius: 30px;
      padding-bottom: 40px;
      padding-top: 30px;
    }

    .suivante-background button {
      padding: 10px;
      background-color: #ffffff; /* Couleur du bouton */
      color: #000000; /* Couleur du texte du bouton */
      border: none;
      cursor: pointer;
    }




    /* ----- Button custom ----- */


      .cta {
        display: flex;
        padding: 11px 33px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        background: #6225E6;
        transition: 1s;
        box-shadow: 6px 6px 0 black;
        transform: skewX(-15deg);
        border: none;
      }
      
      .cta:focus {
        outline: none;
      }
      
      .cta:hover {
        transition: 0.5s;
        box-shadow: 10px 10px 0 #5a0af9;
      }
      
      .cta .second {
        transition: 0.5s;
        margin-right: 0px;
      }
      
      .cta:hover  .second {
        transition: 0.5s;
        margin-right: 45px;
      }
      
      .span {
        transform: skewX(15deg)
      }
      
      .second {
        width: 20px;
        margin-left: 30px;
        position: relative;
        top: 12%;
      }
      
      .one {
        transition: 0.4s;
        transform: translateX(-60%);
      }
      
      .two {
        transition: 0.5s;
        transform: translateX(-30%);
      }
      
      .cta:hover .three {
        animation: color_anim 1s infinite 0.2s;
      }
      
      .cta:hover .one {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.6s;
      }
      
      .cta:hover .two {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.4s;
      }
      
      @keyframes color_anim {
        0% {
          fill: white;
        }
      
        50% {
          fill: #5a0af9;
        }
      
        100% {
          fill: white;
        }
      }


  /* ----- Partie 2 Cartes ----- */

.rangée-1, .rangée-2 {
    position: relative;
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
}

@media (max-width: 720px) {
  .rangée-1.media-query-rangées,
  .rangée-2.media-query-rangées {
      display: grid;
      /* Ajoutez les propriétés grid nécessaires selon vos besoins */
  }
}

.card {
    overflow: visible;
    width: 15em;
    height: 400px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 10px;
  }
  
  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .back {
    background-color: #ebebeb;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #27cde6, #147de0, #202bcb, #0b0bde, transparent);
    animation: rotation_481 5000ms infinite linear;
  }
  
  .back-content {
    position: absolute;
    width: 95%;
    height: 98%;
    background-color: #ffffff;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    text-align: center;
  }
  
  .back-content strong {
    font-size: 0.7em;
  }


  .card:hover .content {
    transform: rotateY(180deg);
  }
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  
  .front {
    transform: rotateY(180deg);
    color: white;
    background-color: white;
  }
  
  .front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .front-content .badge {
    background-color: #000000a6;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
  }
  
  small {
    font-size: 1.2em;
  }


  .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #000000a6;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    height: 80%;
  }
  
  .title {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .inter {
    display: grid;
  }

  .inter li {
    width: 100%;
    font-size: 0.9em;
    margin-bottom: 0.8em;
    margin-left: -20px;
  }

  
  .front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #27cde6;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
  }
  
  #bottom {
    background-color: #147de0;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
  }
  
  #right {
    background-color: #0b0bde;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }





  /* Tableau Formations / Expériences */ 

.contour-parcours {
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 3em;
}


.contour-parcours p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.wp-block-jetpack-timeline.wp-block-jetpack-timeline {
    padding: 0;
}


.wp-block-jetpack-timeline li.wp-block-jetpack-timeline-item {
    list-style-type: none;
    margin-bottom: 36px;
    margin-left: 36px;
    padding: 1em 2em;
    position: relative;
}


.wp-block-jetpack-timeline li.wp-block-jetpack-timeline-item .timeline-item__bubble {
    background-color: currentColor;
    display: block;
    height: 4px;
    left: -36px;
    position: absolute;
    top: 50%;
    transform: translateY(-2px);
    width: 36px;
}


.wp-block-jetpack-timeline>li.wp-block-jetpack-timeline-item:first-child .timeline-item:after {
    top: 50%;
}

.wp-block-jetpack-timeline li.wp-block-jetpack-timeline-item .timeline-item:after {
    background: currentColor;
    bottom: -36px;
    content: "";
    display: block;
    left: -36px;
    position: absolute;
    top: -36px;
    width: 4px;
}


.has-text-align-center {
    text-align: center;
    position: relative;
}
    


:where(.wp-block-group.wp-block-group-is-layout-constrained) {
    position: relative;
}


@media (max-width: 720px) {
  .contour-parcours {
    padding: 5%;
  }
}


.wp-block-jetpack-timeline>li.wp-block-jetpack-timeline-item:last-child .timeline-item:after {
    bottom: 50%;
}





      /* ----- Button custom ----- */


      .cta {
        display: flex;
        padding: 11px 33px;
        text-decoration: none;
        font-size: 25px;
        color: rgb(0, 0, 0);
        background: #ffffff;
        transition: 1s;
        box-shadow: 6px 6px 0 black;
        transform: skewX(-15deg);
        border: none;
      }
      
      .cta:focus {
        outline: none;
      }
      
      .cta:hover {
        transition: 0.5s;
        box-shadow: 10px 10px 0 #0b9dd0;
      }
      
      .cta .second {
        transition: 0.5s;
        margin-right: 0px;
      }
      
      .cta:hover  .second {
        transition: 0.5s;
        margin-right: 45px;
      }
      
      .span {
        transform: skewX(15deg)
      }
      
      .second {
        width: 20px;
        margin-left: 30px;
        position: relative;
        top: 12%;
      }
      
      .one {
        transition: 0.4s;
        transform: translateX(-60%);
      }
      
      .two {
        transition: 0.5s;
        transform: translateX(-30%);
      }
      
      .cta:hover .three {
        animation: color_anim 1s infinite 0.2s;
      }
      
      .cta:hover .one {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.6s;
      }
      
      .cta:hover .two {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.4s;
      }
      
      @keyframes color_anim {
        0% {
          fill: white;
        }
      
        50% {
          fill: #00bdff;
        }
      
        100% {
          fill: white;
        }
      }





.block-mail {
  background-color: rgba(0, 0, 0, 0.531);
  position: relative;
}


.Contact {
  font-size: 1.4em;
  padding-top: 1em;
  text-align: center;
}

.Contact p {
  font-size: 0.6em;
}

.mail form {
  width: 30%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 720px) {
  .mail form {
    width: 90%;
  }
}

.mail-top {
  margin-top: 1em;
}

.mail input, textarea, button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.mail button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 3em;
}

.mail button:hover {
  background-color: #0056b3;
}

.mail h2 {
  color: white;
  margin: 0;
}




    @media (max-width: 800px) {
        .presentation{
            width: 80%;
            display: contents;
        }
        .presentation{
          width: 80%;
          display: contents;
        }
        .presentation-1, .presentation-2 {
          display: contents;
        }

        .carousel-3d {
            margin-top: 0;
            width: 100%;
        }
        .button-projet {
            margin-left: 0;
        }
        .button-projet img {
            width: 90%;
        }
        .haut h2 {
          margin-left: 1.5em;
          width: 80%;
        }
        .contour-d {
          margin-left: 1em;
          margin-right: 1em;
        }
        .haut {
          display: block;
        }
        .cate-footer {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap; /* utile si les enfants dépassent */
        }
    }

