

html{
    height: 100%;
    margin: 0;
}


/* ----- def -----*/

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour l'effet de modal */
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: #00034d;
  position: relative;
  padding: 20px;
  border-radius: 20px ;
  color: white;
  margin: 5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: red;
}



/* ----- Body ----- */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche la barre de défilement horizontale */
}



  .overlay-haut {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; /* couleur de fond avec une opacité de 50% */
    color: white;
    padding: 0;
    align-items: center; /* Aligner les éléments verticalement au centre */
    z-index: 20;
  }





/* ----- Partie 1 Arrière plan ----- */

    .hauteur-contenu {
        /* Ajoutez du padding en haut pour éviter que le contenu soit caché derrière l'overlay */
        padding-top: 0; /* Ajustez selon vos besoins */
    }




    .haut {
      text-align: center;
      font-size: 25px;
      background-color: #282fab;
      border: 1px #15007f solid;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 20px;
      color: white;
    }



/* ----- Partie 2 Présentation ----- */


.content-pres {
  position: sticky;
}

.presentation {
  width: 90%;
  margin-left: 3em;
  }

.presentation-1, .presentation-2 {
  display: flex;
}

.contour-g {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.119);
  border-left: 5px #13005f solid;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.carousel {
  align-items: center;
}

.contour-d {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.119);
  border-right: 5px #13005f solid;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 1em;
  right: 0;
}


  #contenuModal {
    font-size: 1.5em;
  }

.button-projet {
    margin-left: 0;
}

.button-projet img {
    width: 400px;    
}

.button-projet a {
    width: 400px;
    margin: 10px;
}


.carousel-3d {
    margin-top: 40px;
    height: 220px;
    width: 450px;
}



    @media (max-width: 800px) {
        .presentation{
            width: 80%;
            display: contents;
        }
        .presentation{
          width: 80%;
          display: contents;
        }
        .presentation-1, .presentation-2 {
          display: contents;
        }

        .carousel-3d {
            margin-top: 0;
            width: 100%;
        }
        .button-projet {
            margin-left: 0;
        }
        .button-projet img {
            width: 90%;
    }
    h2 {
      margin-left: 1.5em;
      width: 80%;
    }
    .contour-d {
      margin-left: 0;
    }
  }

    h2{
        margin-top: 20px;
        text-align: left;
        padding-top: 20px;
        color: #ffffff;
        font-size : 1,5em;
    }



    /* ----- Image flip ----- */

    .flip-container {
        position: relative;
        perspective: 1000px;
        width: 400px;
        height: 355px;
        margin-bottom: 1em;
      }

      @media (max-width: 485px) {
        .flip-container {
          width: 100%;
          margin-bottom: 0;
        }
      }
      
      .flipper {
        transition: 0.4s;
        transform-style: preserve-3d;
        position: relative;
      }
      
      .flip-container:hover .flipper,
      .flip-container.hover .flipper {
        transform: rotateY(180deg);
      }
      
      .front,
      .back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
      }
      
      .front {
        z-index: 2;
      }

      .front img {
        border-radius: 30px;
        width: 100%;
      }
      
      .back {
        transform: rotateY(180deg);
      }
      
      .black-background {
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 30px;
      }
      
      .black-background button {
        padding: 10px;
        background-color: #ffffff; /* Couleur du bouton */
        color: #000000; /* Couleur du texte du bouton */
        border: none;
        cursor: pointer;
      }

    /* ----- Domaines ----- */


    .domaines {
      width: 50%;
      text-align: center;
      font-size: 25px;
      background-color: rgba(0, 0, 0, 0.219);
      border: 5px #5959597d solid;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 20px;
      transform: translatex(50%);
    }

    @media (max-width: 800px) {
      .domaines {
        width: 100%;
        padding: 10px;
        transform: translatex(0);
      }
    }


    .domaines button {
      font-size: 1em;
      background-color: #110f49;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 1em;
      color: white;
      padding: 8px;
    }
    
    /* ----- Button Page Suivante ----- */


      .suivante-background {
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 30px;
        padding-bottom: 20px;
      }

      .suivante-background button {
        padding: 10px;
        background-color: #ffffff; /* Couleur du bouton */
        color: #000000; /* Couleur du texte du bouton */
        border: none;
        cursor: pointer;
      }

    /* ----- Button custom ----- */


      .cta {
        display: flex;
        padding: 11px 33px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        background: #6225E6;
        transition: 1s;
        box-shadow: 6px 6px 0 black;
        transform: skewX(-15deg);
        border: none;
      }
      
      .cta:focus {
        outline: none;
      }
      
      .cta:hover {
        transition: 0.5s;
        box-shadow: 10px 10px 0 #5a0af9;
      }
      
      .cta .second {
        transition: 0.5s;
        margin-right: 0px;
      }
      
      .cta:hover  .second {
        transition: 0.5s;
        margin-right: 45px;
      }
      
      .span {
        transform: skewX(15deg)
      }
      
      .second {
        width: 20px;
        margin-left: 30px;
        position: relative;
        top: 12%;
      }
      
      .one {
        transition: 0.4s;
        transform: translateX(-60%);
      }
      
      .two {
        transition: 0.5s;
        transform: translateX(-30%);
      }
      
      .cta:hover .three {
        animation: color_anim 1s infinite 0.2s;
      }
      
      .cta:hover .one {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.6s;
      }
      
      .cta:hover .two {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.4s;
      }
      
      @keyframes color_anim {
        0% {
          fill: white;
        }
      
        50% {
          fill: #5a0af9;
        }
      
        100% {
          fill: white;
        }
      }





    /* ----- Footer ----- */

footer {
  position: relative;
    background-color: #333;
}

